* {
    font-family: -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body {
  background: #F6F7F8;
}

h4, p {
    margin: 0;
    font-size: 12px;
}

h4 {
  color: #4C9ADE;
}

p {
    color: #9e9797;
}

.toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #383944;
  color: #fff;
  padding: 20px;
}

.page {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding-top: 60px;
}

.container-toggle {
  position: absolute;
  height: 20px;
  top: -10px;
  right: 0;
}


.container {
    display: flex;
    border: 2px dashed #e4dada;
    border-radius: 5px;
    margin: 15px;
    position: relative;
    transition: all 2.s ease;
}

.container:hover {
  border-style: solid;
}

.container:hover .container-toggle {
  background: yellow;
}

.container > .container:hover {
  border-color: red;
}

.container > .container:hover .container-toggle {
  background: red;
}

.container:before {
    content: attr(class);
    font-size: 12px;
    padding: 5px;
    position: absolute;
    top: -15px;
    background: white;
    font-family: monospace;
}

.container.column {
    flex-direction: column
}

.box:hover .controls {
  display: block;
}

.box {
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
    margin: 15px;
    padding: 15px;
}

.controls {
  position: absolute;
  display: none;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}
